<nav class="navbar navbar-expand-lg bg-body-secondary border-bottom fs-4">
    <div class="container-fluid">
        <a th:href="@{/inventory}" class="navbar-brand fs-3">Roomy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/inventory}" class="nav-link">在庫管理</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/vendors}" class="nav-link">仕入先</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/users}" class="nav-link">ユーザー</a>
                </li>
            </ul>
            <div class="d-flex">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" data-bs-display="static">メニュー</a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a th:href="@{/users}" class="dropdown-item">プロフィール</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a th:href="@{/logout}" class="dropdown-item text-danger">ログアウト</a></li>
                </ul>
            </div>
            </div>

        </div>
    </div>
</nav>